<!DOCTYPE html>
<html ng-app='TaskApp'>
<head >
	<script>
		window.onload = function(event) {
		   	event.stopPropagation(true);
		   	userid = parseInt(sessionStorage.getItem('id'),10); 
			if(isNaN(userid)){
				window.location="/";
			}else{
				event.stopPropagation(false);
			}
		};
	</script>
	<link rel="stylesheet" href="bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/topbar.css">
	<title>Diary</title>
</head>
<body id="body" style="display:none">

	<div class="container" ng-controller="TaskCtrl">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
			    	<!-- Brand and toggle get grouped for better mobile display -->
			    	<div class="navbar-header">
			    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				      	</button>
				     	<a class="navbar-brand" href="#">Diary</a>
			    	</div>
			    <!-- Collect the nav links, forms, and other content for toggling -->
			    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      		<ul class="nav navbar-nav navbar-right">
			        		<li><a href="/" ng-click="logout">Logout</a></li>
			      		</ul>
			    	</div><!-- /.navbar-collapse -->
		  		</div><!-- /.container-fluid -->
			</nav>	
		</div>
		<br><br>
		<div class="row task">
		<hr>
			<div class="row">
				<div ng-bind-html="message" class="col-xs-6"></div>
				<div class="col-xs-6">
					
				</div>
			</div>
		<hr>
			<table id="table" class="table" >
				<thead>
					<tr>
						<th>Description</th>
						<th>Date Create</th>
						<th>Date Planned</th>
						<th>Type</th>
						<th>Action</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr >
						<td><input class="form-control" ng-model="task.description" required></td>
						<td><input class="form-control" ng-model="task.date_create" ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/'></td>
						<td><input class="form-control" ng-model="task.date_planned" ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/'></td>
						<td><select class="form-control" ng-model="task.type" ng-options="type.type for type in types">
							<option value=""></option>
						</select></td>
						<td><button class="btn btn-primary" ng-click="addTask()">Add Task</button></td>
						<td><button class="btn btn-info" ng-click="update()">update</button></td>
						<td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>
					</tr>
					<tr ng-repeat="task in tasks">
						<td>{{task.description}}</td>
						<td>{{task.date_create.split('T')[0]}}</td>
						<td>{{task.date_planned.split('T')[0]}}</td>
						<td>{{types[task.type-1].type}}</td>
						<td><button class="btn btn-danger" ng-click="remove(task.id)">&nbsp;Remove</button></td>
						<td><button class="btn btn-warning" ng-click="edit(task.id)">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;</button></td>
						<td>&nbsp;</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
<script src="jquery-2.1.4.min.js"></script>
<script src="bootstrap-3.3.5-dist/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>     
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
<script src="controller.js" ></script>
</body>
</html>